<nav class="body-module--center breadcrumb" aria-label="{{ i18n "aria_breadcrumbnav" }}">
    <ul>
        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ul>
</nav>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
{{ end }}
<li{{ if eq .p1 .p2 }} class="active"{{ end }}>
    {{ if eq .p1 .p2 }}
    {{ .p1.Title | markdownify }}
    {{ else }}
    <a href="{{ .p1.Permalink }}">{{ .p1.Title | markdownify }}</a>
    {{ end }}
</li>
{{ end }}
