{{ with resources.Get "css/comments.css" | fingerprint "sha512" }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}

<h2 style="margin-bottom: 0;">Comments</h2>
<p style="margin: 0; font-size: smaller;">
    If you provide an email address, you can enable notifications for
    replies to your comment. It will not be shown publicly.
</p>

<noscript>
    <p>
        <i>Enable JavaScript to see the comment section.</i>
    </p>
</noscript>

<section id="isso-thread" data-title="{{ .Title }}"></section>
