{{/* put comments CSS here instead of in <head> so that it doesn't get
   * loaded unnecessarily on regular pages
   */}}
{{ with resources.Get "css/comments.css" | fingerprint "sha512" }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}

<h2>Comments</h2>
<p class="email-address-notice">
    If you provide an email address, you can enable notifications for
    replies to your comment. It will not be shown publicly.
</p>

<noscript>
    <p class="enable-javascript-notice">
        Enable JavaScript to see the comment section.
    </p>
</noscript>

<section id="isso-thread" data-title="{{ .Title }}"></section>
