{{ with resources.Get "css/comments.css" | fingerprint "sha512" }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}

<h2 style="margin-bottom: 0;">Comments</h2>
<p style="margin: 0; font-size: smaller;">
    If you provide an email address, you can enable notifications for
    replies to your comment. It will not be shown publicly.
</p>

<noscript>
    <i>Enable JavaScript to see the comment section.</i>
</noscript>

{{ $url := .Permalink }}
{{ if .IsTranslated }}
    {{ with index .AllTranslations 0 }}
        {{ $url = .Permalink }}
    {{ end }}
{{ end }}


<script data-isso-id="{{ $url }}"
        data-isso-default-lang="{{ .Language.Lang }}"
        data-isso-css="true"
        data-isso-max-comments-top="inf"
        data-isso-max-comments-nested="inf"
        data-isso-reveal-on-click="5"
        {{/*
        data-isso-avatar-bg="#111"
        data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
        */}}
        data-isso-vote="true"
        {{/*
        data-isso-vote-levels=""
        */}}
        data-isso-feed="true"
        data-isso-require-email="false"
        data-isso-reply-notifications="true"
        data-isso-reply-notifications-default-enabled="true"

        {{ with (.GetTerms "authors") }}
            {{ $authorHashes := slice }}
            {{ range . }}
                {{ with .Params.issoUserID }}
                    {{ $authorHashes = $authorHashes | append . }}
                {{ end }}
            {{ end }}

            data-isso-page-author-hashes="{{ delimit $authorHashes "," }}"
        {{ end }}

        src="https://isso.bbaovanc.com/js/embed.min.js">
</script>

<section id="isso-thread" data-title="{{ .Title }}"></section>
