{{ $hidecaption := index . "hidecaption" }}

{{ if index . "noborder" }}
    <figure>
{{ else }}
    <figure class="border">
{{ end }}

    {{ with index . "src" }}
        {{ if eq .MediaType.MainType "image" }}
            <img src="{{ .Permalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" />
        {{ else if eq .MediaType.MainType "video" }}
            <video controls preload="metadata">
                <source src="{{ .Permalink }}" alt="{{ .Title }}">
                {{ i18n "browser_no_video_support" }}
            </video>
        {{ end }}

        {{ if not $hidecaption }}
            {{ with .Title }}
                <figcaption>
                    {{ . | markdownify }}
                </figcaption>
            {{ end }}
        {{ end }}
    {{ end }}
</figure>
