{{ with .Params.authors }}
    <span class="page-metadata-item" data-pagefind-meta="authors" aria-label="{{ i18n "aria_post_meta_authors" }}">
        {{ partial "icon.html" "user-circle" }}

        {{ if index $.Site.Taxonomies "authors" }}
            {{ $authors := slice }}
            {{ range . }}
                {{ $url := (printf "authors/%s" (. | anchorize)) | absLangURL }}
                {{ $authors = $authors | append (printf `<a href="%s">%s</a>` $url .) }}
            {{ end }}
            {{ delimit $authors ", " | safeHTML }}
        {{ else }}
            {{ delimit . ", " }}
        {{ end }}
    </span>
{{ end }}
