{{ with .Params.authors }}
    <span class="post-meta-item" aria-label="{{ i18n "aria_post_meta_authors" }}">
        {{ partial "icon.html" "user-circle" }}

        {{ if index $.Site.Taxonomies "authors" }}
            {{ $authors := slice }}
            {{ range . }}
                {{ $url := (printf "authors/%s" (. | anchorize)) | absLangURL }}
                {{ $authors = $authors | append (printf `<a href="%s">%s</a>` $url . | safeHTML) }}
            {{ end }}
            {{ delimit $authors ", " }}
        {{ else }}
            {{ delimit . ", " }}
        {{ end }}
    </span>
{{ end }}
