{{ define "main" }}
    <h1>
        {{ partial "icon.html" "user-circle" }}
        {{ .Title | markdownify }}
    </h1>

    {{ with .Content }}
        {{ . }}
    {{ end }}

    <div class="page-list">
        {{ with .Paginator.Pages }}
            {{ range . }}
                <article class="page">
                    {{ .Render "summary" }}
                </article>
            {{ end }}
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>
{{ end }}
