<article class="summary-card">
    <h2 class="summary-card-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        {{ if .Draft }}{{ partial "icon.html" "write" }}{{ end }}
    </h2>

    {{ partial "page-metadata/author.html" . }}

    {{ with .Summary }}
        <div class="summary-card-description">
            {{ . }}
        </div>
    {{ end }}

    <div class="summary-card-readmore">
        <a href="{{ .Permalink }}">{{ i18n "see_posts" }} &rarr;</a>
    </div>
</article>
