{{ define "main" }}
    <section>
        {{ if .Content }}<article>{{ end }}

        <h1>
            {{ partial "icon.html" "user-circle" }}
            {{ .Title | markdownify }}
        </h1>

        {{ with .Content }}
            {{ . }}
        {{ end }}

        {{ if .Content }}</article>{{ end }}

        <section class="page-list">
            {{ with .Paginator.Pages }}
                {{ range . }}
                    <article class="page">
                        {{ .Render "summary" }}
                    </article>
                {{ end }}
            {{ else }}
                <div>
                    {{ i18n "no_posts" }}
                </div>
            {{ end }}
        </section>
    </section>
{{ end }}
