{{ define "main" }}
    <h1>
        {{ partial "icon.html" "user-circle" }}
        {{ .Title | markdownify }}
        {{ partial "rss-link.html" . }}
    </h1>

    {{ partial "author-metadata.html" . }}

    {{ .Content }}

    <div class="page-list">
        <ul>
            {{ range .Paginator.Pages }}
                <li>{{ .Render "summary" }}</li>
            {{ else }}
                <div>
                    {{ i18n "no_posts" }}
                </div>
            {{ end }}
        </ul>
    </div>

    {{ partial "pagination.html" . }}
{{ end }}
