{{ define "main" }}
    <h1>
        {{ partial "icon.html" "files" }}
        {{ .Title | markdownify }}
    </h1>

    {{ with .Content }}
        {{ . }}
    {{ end }}

    <div class="series-taxonomy-list">
        {{ with .Pages }}
            {{ range . }}
                <article class="series-taxonomy">
                    {{ .Render "summary/series" }}
                </article>
            {{ end }}
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>
{{ end }}
