{{ define "main" }}
    <div class="page-title">
        <h1>
            {{ partial "icon.html" "files" }}
            {{ .Title | markdownify }}
        </h1>
    </div>

    {{ with .Content }}
        {{ . }}
    {{ end }}

    <div class="page-list series">
        {{ with .Paginator.Pages }}
            {{ range . }}
                <div class="page series">
                    {{ .Render "summary" }}
                </div>
            {{ end }}
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>
{{ end }}
