{{ define "main" }}
    <h1>
        {{ partial "icon.html" "files" }}
        {{ .Title | markdownify }}
        {{ partial "rss-link.html" . }}
    </h1>

    {{ partial "post-metadata/series.html" . }}

    {{ partial "description-or-summary.html" . }}

    <div class="page-list">
        {{ with .Paginator.Pages.Reverse }}
            <ul>
                {{ $i := 0 }}
                {{ $total := len $.Pages }}
                {{ range . }}
                    {{ $i = add 1 $i }}
                    {{ .Scratch.Set "series_position" $i }}
                    {{ .Scratch.Set "series_total" $total }}
                    <li>{{ .Render "summary/post" }}</li>
                {{ end }}
            </ul>
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>

    {{ partial "pagination.html" . }}
{{ end }}
