{{ partial "credit.html" }}
<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    {{ partial "head.html" . }}

    <body>
        <a id="top"></a>

        <div class="top">
            {{ partial "top.html" . }}
        </div>

        {{ if not .IsHome }}
            {{ partial "breadcrumb.html" . }}
        {{ end }}

        <div class="content">
            {{ block "main" . }}
                {{ .Content }}
            {{ end }}
        </div>

        {{ with .Site.Copyright }}
            <footer>
                <hr>
                <small>
                    {{ . | safeHTML }}
                </small>
            </footer>
        {{ end }}

        <a id="back-to-top" href="#top">
            {{ partial "icon.html" "chevron-up" }}
        </a>
    </body>

</html>
