{{ define "main" }}

<h1>
    {{ with .Params.icon }}{{ partial "icon.html" . }}{{ end }}
    {{ .Title | markdownify }}
    <span class="rss-link">
        {{ with .OutputFormats.Get "rss" }}
        <a href="{{ .Permalink }}">{{ partial "icon.html" "rss-feed" }}</a>
        {{ end }}
    </span>
</h1>

<div class="posts">
    {{ range .Paginator.Pages }}
        {{ .Render "summary" }}
    {{ else }}
        {{ i18n "no_posts" }}
    {{ end }}
</div>

{{ if gt .Paginator.TotalPages 1 }}
<div class="pagination">
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}

{{ end }}
