{{ define "main" }}
<div class="post-title">
    <h1>{{ .Title | markdownify }}</h1>
</div>

<div class="post-metadata">
    {{ if .Date }}
    <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
        {{ .Date.Format "January 2, 2006" }}
    </time>
    {{ if ne .Lastmod .Date }}
    <time datetime="{{ .Lastmod.Format "2006-01-02" }}" pubdate>
        (Modified {{ .Lastmod.Format "January 2, 2006" }})
    </time>
    {{ end }}
    {{ end }}

    <span class="tags">
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
        {{ end }}
    </span>
</div>

{{ if .Params.Toc }}
<div id="table-of-contents">
    <h3>Table of Contents</h3>
    {{ .TableOfContents }}
</div>
{{ end }}

{{ .Content }}
{{ end }}
