{{ define "main" }}
<div class="post-title">
    <h1>
        {{ .Title | markdownify }}
        {{ if .Draft }}{{ partial "icon.html" "write" }}{{ end }}
    </h1>
</div>

{{ partial "post-metadata.html" . }}

{{ with (.GetTerms "series") }}
{{ range . }}
<div class="series-box">
    {{ partial "icon.html" "info" }}
    This post is part of a series:
    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
</div>
{{ end }}
{{ end }}


{{ if .Params.Toc }}
<div id="table-of-contents">
    <details>
        <summary>{{ i18n "table_of_contents" }}</summary>
        {{ .TableOfContents }}
    </details>
</div>
{{ end }}

{{ with .Resources.GetMatch "feature" }}
<div class="post-media">
    {{ partial "figure.html" (dict "src" . "border" true) }}
</div>
{{ end }}

{{ .Content }}

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="see-also">
    <h2>{{ i18n "see_also" }}</h2>

    <ul>
        {{ range . }}
        <li>
            {{ with .Parent.Params.icon }}{{ partial "icon.html" . }}{{ end }}
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ if .Params.comments }}
{{ partial "comments.html" . }}
{{ end }}

{{ end }}
