<div class="post">
    <h2 class="post-title">
        {{ with .Parent.Params.icon }}{{ partial "icon.html" . }}{{ end }}
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        {{ if .Draft }}{{ partial "icon.html" "edit" }}{{ end }}
    </h2>

    {{ partial "post-metadata.html" . }}

    {{ with .Resources.GetMatch "feature" }}
    {{ if eq .MediaType.MainType "image" }}
    <div class="post-media">
        <img src="{{ .Permalink }}" alt="{{ .Title }}" />
    </div>
    {{ else if eq .MediaType.MainType "video" }}
    <div class="post-media">
        <video controls>
            <source src="{{ .Permalink }}" alt="{{ .Title }}">
        </video>
    </div>
    {{ end }}
    {{ end }}

    <div class="post-description">
        {{ if .Description }}
        <p>
            {{ .Description | markdownify }}
        </p>
        {{ else }}
        {{ .Summary }}
        {{ end }}
    </div>

    <div class="readmore">
        <a href="{{ .Permalink }}">Read more &rarr;</a>
    </div>
</div>
