<div class="post">
    <h2 class="post-title">
        {{ with .Parent.Params.icon }}{{ partial "icon.html" . }}{{ end }}
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        {{ if .Draft }}{{ partial "icon.html" "write" }}{{ end }}
    </h2>

    {{ partial "post-metadata.html" . }}

    {{ with .Resources.GetMatch "feature" }}
    <div class="post-media">
        {{ partial "figure.html" (dict "src" . "border" true) }}
    </div>
    {{ end }}

    <div class="post-description">
        {{ if .Description }}
        <p>
            {{ .Description | markdownify }}
        </p>
        {{ else }}
        {{ .Summary }}
        {{ end }}
    </div>

    <div class="readmore">
        <a href="{{ .Permalink }}">{{ i18n "read_more" }} &rarr;</a>
    </div>
</div>
