{{ if or .Date .Params.authors .Site.Params.readingtime }}
    <div class="page-metadata" aria-label="{{ i18n "aria_post_metadata" }}">
        {{ if .Date }}
            <span class="page-metadata-item" aria-label="date">
                {{ partial "icon.html" "calendar" }}
                <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                    {{ i18n "long_date" (dict "Date" .Date "Data" .Site.Data) }}
                </time>
            </span>
        {{ end }}

        {{ partial "page-metadata/item/authors.html" . }}
        {{ partial "page-metadata/item/readingtime.html" . }}
        {{ partial "page-metadata/item/series.html" . }}
        {{ partial "page-metadata/item/categories.html" . }}
        {{ partial "page-metadata/item/tags.html" . }}
    </div>
{{ end }}
