{{ if or .Date .Params.authors .Site.Params.readingtime .Site.Params.gitFileURL }}
    <div class="page-metadata" aria-label="{{ i18n "aria_post_metadata" }}">
        {{ if .Date }}
            <span class="page-metadata-item" aria-label="{{ i18n "aria_post_meta_date" }}">
                {{ partial "icon.html" "calendar" }}
                {{ partial "time-element.html" .Date }}
            </span>

            {{/* TODO: make this be a tooltip */}}
            {{/* DISABLED
            {{ if ne (time.Format "2006-01-02" .Lastmod) (time.Format "2006-01-02" .Date) }}
                <span class="page-metadata-item" aria-label="{{ i18n "aria_post_meta_modified_date" }}">
                    {{ partial "icon.html" "pencil" }}
                    {{ partial "time-element.html" .Lastmod }}
                    {{ end }}
                </span>
            */}}
        {{ end }}

        {{ partial "page-metadata/item/authors.html" . }}
        {{ partial "page-metadata/item/readingtime.html" . }}
        {{ partial "page-metadata/item/edithistory.html" . }}
        {{ partial "page-metadata/item/categories.html" . }}
        {{ partial "page-metadata/item/tags.html" . }}
    </div>
{{ end }}
