<div class="page-metadata" aria-label="{{ i18n "aria_series_metadata" }}">
    <span class="page-metadata-item">
        {{ partial "icon.html" "newspaper" }}
        {{ i18n "post_count" (len .Data.Pages) }}
    </span>

    {{ if ne .Site.Params.readingtime false }}
        <span class="page-metadata-item">
            {{ partial "icon.html" "clock" }}
            {{ $readingtime := 0 }}
            {{ range .Data.Pages }}
                {{ $readingtime = (add $readingtime .ReadingTime) }}
            {{ end }}
            {{ i18n "readingtime" $readingtime }}
        </span>
    {{ end }}
</div>
