/* Post layout (in list pages) */
.post {
  padding-bottom: 20px;
}

.post-title, .post-title h1 {
  margin-bottom: 10px;
}

.post-description {
  padding-top: 10px;
}

.post-title a {
  color: inherit;
  text-decoration: inherit;
}

.readmore {
  padding-top: 5px;
}

.tags {
  padding-left: 10px;
}

.rss-link {
  padding-left: 5px;
}

.rss-link a svg {
  width: 30px;
  height: 30px;
}



/* Header formatting (website title and article section headers) */
.header a {
  padding-left: 20px;
}

.header a, .section-header a {
  color: inherit;
}



/* Content formatting */
.content {
  padding: 20px;
}



/* Navbar formatting */
#navbar {
  padding-left: 20px;
}

#navbar h2 {
  color: inherit;
  text-decoration: inherit;
}

.navbar-item {
  margin-right: 5px;
}



/* Basic elements */
body {
  background-color: #111;
  color: lightgray;
  font-family: "Open Sans", "Noto Sans", sans-serif;
  margin: auto;
  max-width: 720px;
}

a {
  color: #4da6ff;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 5px solid #333;
  padding-left: 10px;
}

hr {
  color: #444;
}

* {
  box-sizing: border-box;
}



/* Icons */
.icon {
  width: 20px;
  height: 20px;
  color: lightgray;
  text-align: center;
  display: inline;
  vertical-align: middle;
}



/* Breadcrumb navigation */
ul.breadcrumb {
  padding 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

ul.breadcrumb li.active a {
  color: inherit;
}



/* Pagination */
.pagination {
  list-style: none;
  text-align: center;
}

.page-item {
  display: inline;
}

.page-link {
  padding: 8px 16px;
  border-radius: 5px;
  color: lightgray;
}

.page-item.active .page-link {
  background-color: #163b64;
  color: inherit;
}

.page-item.active .page-link:hover {
  background-color: #2b72c0;
  color: white;
}

.page-link:hover {
  background-color: #444;
  color: white;
  text-decoration: none;
}
