/* Layout */
.page {
  display: flex;
}

.side, .content, .footer {
  padding: 20px;
}

#navbar {
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  padding: 14px 20px;
}

.navbar-items {
  float: right;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .page {
    flex-direction: column;
  }

  .navbar-items a {
    width: 100%;
  }
}




/* Styling */
.side {
  background-color: #111;
  color: lightgray;
}
.content {
  color: lightgray;
  max-width: 720px;
}
.footer {
  text-align: center;
  background: #ddd;
}

#navbar {
  background-color: #091a2c;
}
#navbar a {
  color: lightgray;
  text-align: center;
  text-decoration: none;
}
#navbar a:hover {
  background-color: #0e2a46;
  color: white;
}

body {
  background-color: black;
  font-family: sans-serif;
}
a {
  color: #4da6ff;
}
blockquote {
  border-left: 5px solid #222;
  padding-left: 10px;
}
