{{/* we do not need to duplicate what's already covered by OpenGraph tags
   * see: https://demo.bbaovanc.com/test/remove-twitter-tags/blog/swapfile-guide/
   * so, no twitter:image/title/description
   */}}
{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ if not $featured }}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
{{ end }}

{{ with $featured }}
    {{ $ratio := 0 }}
    {{ if gt .Width .Height }}
        {{ $ratio = div (float .Width) .Height }}
    {{ else }}
        {{ $ratio = div (float .Height) .Width }}
    {{ end }}

    {{ if lt $ratio 1.75 }}
        <meta name="twitter:card" content="summary_large_image">
    {{ else }}
        <meta name="twitter:card" content="summary">
    {{ end }}
{{ else }}
    <meta name="twitter:card" content="summary">
{{ end }}

{{/* twitter:site is the site author; twitter:creator is page author
   * https://developer.x.com/en/docs/x-for-websites/cards/guides/getting-started
   * "Card and Content Attribution"
   */}}
{{ with .Site.Params.social.twitter }}
    <meta name="twitter:site" content="@{{ . }}">
{{ else }}
    {{ errorf "a twitter username is required for twitter cards to work" }}
{{ end }}
{{ with .GetTerms "authors" }}
    {{ range . }}
        {{ with .Params.twitter }}
            <meta name="twitter:creator" content="@{{ . }}">
        {{ end }}
    {{ end }}
{{ end }}
