{{ define "main" }}
    <h1>
        {{ partial "icon.html" "tag" }}
        {{ .Title | markdownify }}
    </h1>

    <div class="tag-list">
        {{ with .Data.Terms.Alphabetical }}
            <ul>
                {{ range . }}
                    <a href="{{ .Page.Permalink }}">
                        <li>{{ .Page.Title | markdownify }}</li>
                    </a>
                {{ end }}
            </ul>
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>
{{ end }}
