<figure>
    {{ with .Get "src" }}
        {{ with $.Page.Resources.Get . }}
            {{ partial "embed-resource.html" . }}
            {{ with .Title }}
                <figcaption>{{ . | markdownify }}</figcaption>
            {{ end }}
        {{ else }}
            {{ errorf "resource %q not found" . }}
        {{ end }}
    {{ else }}
        {{ .Inner }}
        {{ with .Get "caption" }}
            <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
    {{ end }}
</figure>
