<figure>
    {{ $resource_title := "" }}
    {{ with .Get "src" }}
        {{ with $.Page.Resources.Get . }}
            {{ $resource_title = .Title }}
            {{ partial "embed-resource.html" . }}
        {{ else }}
            {{ errorf "resource %q not found" . }}
        {{ end }}
    {{ else }}
        {{ .Inner }}
    {{ end }}

    {{ with or (.Get "caption") (.Get 0) $resource_title }}
        <figcaption>{{ (replace . "\\bt" "`") | markdownify }}</figcaption>
    {{ end }}
</figure>
