<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $bobastyle := resources.Get "css/bobastyle.css" | fingerprint "sha512" }}
    <link rel="stylesheet" type="text/css" href="{{ $bobastyle.Permalink }}" integrity="{{ $bobastyle.Data.Integrity }}">

    {{ with .Site.Params.faviconICO }}
    <link rel="icon" type="image/x-icon" href="{{.}}" />
    {{ end }}
    {{ with .Site.Params.faviconPNG }}
    <link rel="icon" type="image/png" href="{{.}}" />
    {{ end }}

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}
</head>
