{{ if or .GitInfo .Date (.GetTerms "tags") }}
<div class="post-metadata">
    {{ if .Date }}
    <span class="post-meta-item">
        {{ partial "icon.html" "calendar" }}
        <time datetime="{{ .Date.Format "January 2, 2006" }}" pubdate>
            {{ .Date.Format "January 2, 2006" }}
        </time>

        {{ if ne .Lastmod .Date }}
        {{ partial "icon.html" "edit-2" }}
        <time datetime="{{ .Lastmod.Format "2006-01-02" }}" pubdate>
            {{ .Lastmod.Format "January 2, 2006" }}
        </time>
        {{ end }}

        {{ end }}
    </span>

    {{ if .Site.Params.wordcount }}
    <span class="post-meta-item">
        {{ partial "icon.html" "type" }}
        {{ .WordCount }} words
    </span>
    {{ end }}

    {{ if .Site.Params.readingtime }}
    <span class="post-meta-item">
        {{ partial "icon.html" "clock" }}
        {{ .ReadingTime }} {{ if gt .ReadingTime 1 }} mins {{ else }} min {{ end }}
    </span>
    {{ end }}

    {{ with .GitInfo }}
    <span class="post-meta-item">
        {{ partial "icon.html" "git-commit" }}
        <a href="{{ (printf "%s/commit/%s" $.Site.Params.repoURL .Hash) | absURL }}">
            <code>{{ .AbbreviatedHash }}</code>
        </a>
    </span>
    {{ end }}

    <div class="tags">
        {{ range (.GetTerms "tags") }}
        <span class="post-meta-item">
            {{ partial "icon.html" "tag" }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </span>
        {{ end }}
    </div>
</div>
{{ end }}
