{{ if or .Date .IsTranslated .Site.Params.wordcount .Site.Params.readingtime .Site.Params.repoURL }}
<div class="post-metadata">
    {{ if .Date }}
    <span class="post-meta-item">
        {{ partial "icon.html" "calendar" }}
        <time datetime="{{ .Date.Format "January 2, 2006" }}" pubdate>
            {{ i18n "long_date" (dict "Date" .Date "Data" .Site.Data) }}
        </time>
    </span>

    {{ if not .Site.Params.repoURL }}
    {{ if ne .Lastmod .Date }}
    <span class="post-meta-item">
        {{ partial "icon.html" "pencil" }}
        <time datetime="{{ .Lastmod.Format "2006-01-02" }}" pubdate>
            {{ i18n "long_date" (dict "Date" .Lastmod "Data" .Site.Data) }}
        </time>
        {{ end }}
    </span>
    {{ end }}
    {{ end }}

    {{ with .Params.authors }}
    <span class="post-meta-item">
        {{ partial "icon.html" "user-circle" }}
        {{ delimit . ", " }}
    </span>
    {{ end }}

    {{ if .IsTranslated }}
    <span class="post-meta-item">
        {{ partial "icon.html" "world" }}
        {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ .Language }}</a>
        {{ end }}
    </span>
    {{ end }}

    {{ if ne .Site.Params.readingtime false }}
    <span class="post-meta-item">
        {{ partial "icon.html" "clock" }}
        {{ i18n "readingtime" .ReadingTime }}
    </span>
    {{ end }}

    {{ if .Site.Params.repoURL }}
    {{ with .GitInfo }}
    <span class="post-meta-item">
        {{ partial "icon.html" "branch" }}
        <a href="{{ (printf "%s/blob/%s/content/%s" $.Site.Params.repoURL .Hash $.File.Path) | absURL }}" target="_blank" rel="noopener">
            <code>{{ .AbbreviatedHash }}</code>
        </a>
    </span>
    {{ end }}
    {{ end }}

    <div class="tags">
        {{ range (.GetTerms "tags") }}
        <span class="post-meta-item">
            {{ partial "icon.html" "tag" }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </span>
        {{ end }}
    </div>
</div>
{{ end }}
