<h2 class="header">
    <a href="{{ "/" | absLangURL }}">{{ .Site.Title | markdownify }}</a>
</h2>

<nav class="navbar">
    {{ with .Site.GetPage "/" }}
    <a class="navbar-item" href="{{ .Permalink | absLangURL }}">{{ .Title }}</a>
    {{ end }}

    {{ range .Site.Menus.main }}
    <a class="navbar-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    {{ end }}
</nav>

{{ if .Site.IsMultiLingual }}
<nav class="langbar">
    {{ range .Site.Home.AllTranslations }}

    {{ if eq .Language $.Site.Language }}
    <b><a class="langbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></b>
    {{ else }}
    <a class="langbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end }}

    {{ end }}
</nav>
{{ end }}
