{{ define "main" }}
    {{ with .Content }}
        <article class="homepage-content">
            {{ . }}
        </article>
        <hr>
    {{ end }}

    {{ if .Site.Params.homepageLatestPosts }}
        <div class="homepage-latest-posts">
            <h1>
                {{ i18n "latest_posts" }}
                {{ partial "rss-link.html" . }}
            </h1>

            {{ partial "page-list.html" (.Paginate .Site.RegularPages).Pages }}

            {{ partial "pagination.html" . }}
        </div>
    {{ end }}
{{ end }}
