{{ define "main" }}
    {{ with .Content }}
        <article class="body-module body-module--wide">
            {{ . }}
        </article>
        <hr class="body-module body-module--wide">
    {{ end }}
{{ end }}

{{ define "post-body" }}
    {{ if .Site.Params.homepageLatestPosts }}
        <div class="body-module body-module--wide">
            <h1>
                {{ i18n "latest_posts" }}
                {{ partial "rss-link.html" . }}
            </h1>

            {{ partial "page-list.html" (.Paginate .Site.RegularPages).Pages }}

            {{ partial "pagination.html" . }}
        </div>
    {{ end }}
{{ end }}
