<a class="section-card-anchor" href="{{ .Permalink }}">
    <div class="section-card">
        <div>
            <h2 class="section-card-title">
                {{ with .Params.icon }}{{ partial "icon.html" . }}{{ end }}
                {{ .Title | markdownify }}
            </h2>

            {{ with .Summary }}
                <div class="section-card-description">
                    {{ . }}
                </div>
            {{ end }}
        </div>

        <div class="section-card-arrow">
            {{ partial "icon.html" "arrow-right" }}
        </div>
    </div>
</a>
