{{ define "main" }}
    <section>
        <h1>
            {{ with .Params.icon }}{{ partial "icon.html" . }}{{ end }}
            {{ .Title | markdownify }}
            {{ partial "rss-link.html" . }}
        </h1>

        {{ with .Content }}
            {{ . }}
        {{ end }}

        <div class="list-page-container">
            {{ with .Sections }}
                <div class="sections">
                    {{ range . }}
                        {{ .Render "summary" }}
                    {{ end }}
                </div>
            {{ end }}

            {{ partial "page-list.html" .Paginator.Pages }}
        </div>

        {{ partial "pagination.html" . }}
    </section>
{{ end }}
