<article class="summary-card">
    <h2 class="summary-card-title">
        {{ with .Parent.Params.icon }}{{ partial "icon.html" . }}{{ end }}
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        {{ if .Draft }}{{ partial "icon.html" "write" }}{{ end }}
    </h2>

    {{ partial "page-metadata/post-short.html" . }}

    {{ partial "featured-media.html" . }}

    {{ with .Summary }}
        <div class="summary-card-description">
            {{ . }}
        </div>
    {{ end }}

    <div class="summary-card-readmore">
        <a href="{{ .Permalink }}">{{ i18n "read_more" }} &rarr;</a>
    </div>
</article>
