<h2 class="page-title">
    {{ with .Parent.Params.icon }}{{ partial "icon.html" . }}{{ end }}
    <a class="heading-link" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ if .Draft }}{{ partial "icon.html" "write" }}{{ end }}
</h2>

{{ partial "page-metadata/post-short.html" . }}

{{ partial "feature-figure.html" . }}

<div class="page-description">
    {{ partial "description-or-summary.html" . }}
</div>

<div class="readmore">
    <a href="{{ .Permalink }}">{{ i18n "read_more" }} &rarr;</a>
</div>
