{{ define "main" }}
    <div class="post-title">
        <h1>
            {{ if eq .Data.Singular "tag" }}
                {{ partial "icon.html" "tag" }}
            {{ else if eq .Data.Singular "category" }}
                {{ partial "icon.html" "folder" }}
            {{ else }}
                {{ partial "icon.html" "filter" }}
            {{ end }}

            {{ .Title | markdownify }}
        </h1>
    </div>

    {{ with .Content }}
        {{ . }}
    {{ end }}

    <div class="taxonomy-list">
        {{ with .Data.Terms.Alphabetical }}
            {{ range . }}
                {{ with .Page }}
                    <article class="taxonomy-term">
                        <div class="taxonomy-list-left">
                            <a href="{{ .Permalink }}">
                                <p>{{ .Title | markdownify }}</p>
                            </a>
                            {{ partial "post-metadata/taxonomy.html" . }}
                        </div>
                        {{ partial "description-or-summary.html" . }}
                    </article>
                {{ end }}
            {{ end }}
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>
{{ end }}
