{{ define "main" }}
    <h1>
        {{ if eq .Data.Singular "tag" }}
            {{ partial "icon.html" "tag" }}
        {{ else }}
            {{ partial "icon.html" "filter" }}
        {{ end }}

        {{ .Title | markdownify }}
    </h1>

    <div class="taxonomy">
        {{ with .Data.Terms.Alphabetical }}
            <ul>
                {{ range . }}
                    <li>
                        <a href="{{ .Page.Permalink }}">{{ .Page.Title | markdownify }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>
{{ end }}
