{{ define "main" }}
    <h1>
        {{ if eq .Data.Singular "tag" }}
            {{ partial "icon.html" "tag" }}
        {{ else if eq .Data.Singular "author" }}
            {{ partial "icon.html" "user-circle" }}
        {{ else }}
            {{ partial "icon.html" "filter" }}
        {{ end }}

        {{ .Title | markdownify }}
        {{ partial "rss-link.html" . }}
    </h1>

    {{ partial "term-description.html" . }}
    <div class="page-list">
        <ul>
            {{ range .Paginator.Pages }}
                <li>{{ .Render "summary" }}</li>
            {{ else }}
                <div>
                    {{ i18n "no_posts" }}
                </div>
            {{ end }}
        </ul>
    </div>

    {{ partial "pagination.html" . }}
{{ end }}
