{{ define "main" }}
    <h1>
        {{ if eq .Data.Singular "tag" }}
            {{ partial "icon.html" "tag" }}
        {{ else if eq .Data.Singular "category" }}
            {{ partial "icon.html" "folder" }}
        {{ else }}
            {{ partial "icon.html" "filter" }}
        {{ end }}

        {{ .Title | markdownify }}
        {{ partial "rss-link.html" . }}
    </h1>

    {{ partial "post-metadata/taxonomy.html" . }}

    {{ with .Content }}
        {{ . }}
    {{ end }}

    {{ partial "page-list.html" .Paginator.Pages }}

    {{ partial "pagination.html" . }}
{{ end }}
