{{ define "main" }}
    <h1>
        {{ partial "icon.html" "filter" }}
        {{ .Title | markdownify }}
        {{ partial "rss-link.html" . }}
    </h1>

    {{ partial "description-or-summary.html" . }}
    <div class="page-list">
        {{ with .Paginator.Pages }}
            <ul>
                {{ range . }}
                    <li>{{ .Render "summary/post" }}</li>
                {{ end }}
            </ul>
        {{ else }}
            <div>
                {{ i18n "no_posts" }}
            </div>
        {{ end }}
    </div>

    {{ partial "pagination.html" . }}
{{ end }}
